#panel {
    background-color: white;
    display: flex;
    flex-shrink: 4; /* default 1 */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.repository {
    flex-grow: 1;
    margin: 24px;

    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px 0px rgb(224, 224, 224);
    border-radius: 24px;

    display: flex;
    max-width: 25%;
    min-width: 400px;

    height: 200px;

    img {  
        width: 30%;
        object-fit: cover;
        border-radius: 24px;
        transition: width 0.3s ease-in-out;
    }
    .repository-info {
        display: block;
        margin: 0 20px;
        width: 100%;

        
        .repository-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            font-size: 24px;

            margin: 24px 24px 0 0;
            transition: margin 0.3s ease;

            h1 {
                font-size: 24px;
                line-height: 1.2;
                transition: font-size 0.3s ease, margin 0.3s ease;
            }

            img {
                visibility: hidden;
                transition: visibility 0.3s ease, opacity 0.3s ease;
                opacity: 0;
                height: 40px;
                width:  40px;
                background: none;
                margin-left: 12px;
            }
        }

        p {
            display: block;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s ease, visibility 0.3s ease;
        }    
    }
    
}

.repository:hover {
    .repository-info {

        .repository-header {
            margin: 10px 24px 0 0;

            h1 {
                font-size: 18px;
                margin: 0;
            }
            img {
                visibility: visible;
                opacity: 1;
            }
        }

        .repository-tags {
            margin: 0 0 10px;
        }

        p {
            opacity: 1;
            visibility: visible;
        }
    }

    
    img {  
        width: 10%; /* Explicitly set width for hover */
    }
}

#about-me {
    height: 400px;
}

#apps {
    height: fit-content;
}


#contact {
    height: 400px;
}

