.drop-zone {
    width: 40%;
    height: 40%;
    border: 2px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;

    z-index: 100;
    position: relative;
    top: 30%;
    left: 30%
  }

img {
    max-width: 200px;
    margin: 10px;
}

.image-container {
  position: absolute;
  max-height: 80%;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}

.image-preview img {
    max-width: 200px;
    margin: 10px;
}

button {
    position: absolute;
    right: 5%;
    bottom: 5%
}
