nav {
    position: sticky;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
    z-index: 1;
}

nav a {
    position: relative;

    color: rgb(#444444);
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    margin: 4px 16px;
    text-decoration: none;
    transition: text-decoration 1s ease-in-out; 
}


nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #444444;
    transition: width 0.3s ease-in-out;
}
  
nav a:hover::after {
    width: 100%;
}

nav a:visited {
    color: #444444;
}
