<div id="panel">
    <!-- <br id="apps-break">
    <section id="apps">
        <app-apps></app-apps>
    </section> -->
<!-- 
    <br id="about-me-break">
    <section id="about-me">

    </section> -->

    <br id="contact-break">
    <section id="contact">
        <ul class="social-links">
            <li>
                <a href="https://github.com/V-Ader" target="_blank" rel="noopener noreferrer">
                    <img src="assets/icons/github-mark.png" alt="GitHub" />
                </a>
            </li>
            <li>
                <a href="https://linkedin.com/in/karol-zawiślak/" target="_blank" rel="noopener noreferrer">
                    <img src="assets/icons/In-mark.png" alt="LinkedIn" />
                </a>
            </li>
        </ul>
    </section>
    <br/>
</div>
