app-fancy-title {
    display: block;
    height: 100vh;
    /* box-shadow: 1px 17px 20px 0px #00000040; */
}

navigation-bar {
    position: relative;
    display: block;
    top: 0;
    height: 0;
}
